.card {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    /* background-color: #271c6c; */
    background: linear-gradient(190deg, rgb(15, 2, 86) 0%, rgb(38, 9, 155) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  }